.button {
  padding: var(--small) var(--large);
  background: var(--primary-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  transition: background 0.3s ease;
  animation: fadeIn 3s ease-in-out;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.button:hover {
  background-color: var(--secondary-color);
}

.button--disabled {
  background: var(--disabled-button);
  transition: none;
  animation: none;
}

.button--disabled:hover {
  background: var(--disabled-button);
}

.button--disabled:active {
  transform: none;
}

.button--order {
  animation: none;
  width: 300px;
}
.button--order:hover {
  background-color: var(--text-color);
}

.button--view {
  animation: none;
  height: 70px;
  margin: var(--small);
}

.button--back {
  animation: none;
  height: 40px;
  margin: var(--xsmall);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--view:hover {
  background-color: var(--text-color);
}

.button--minus,
.button--plus {
  padding: var(--small);
}
