.details {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 calc(var(--large) * 2);
    gap: var(--small);
    animation: fadeIn 0.3s ease-in;
  }
  
  .details--show {
    display: flex;;
  }
  
  .details__title,
  .details__back-button {
    margin-left: 70px;
  }
  
  .details__images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .details__image {
    width: 80%;
  }
  
  .details__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--small);
    width: 100%;
  }
  
  .details__product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .details__specs {
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--large);
    gap: var(--large);
  }
  
  .details__information {
    display: flex;
    flex-direction: column;
    gap: var(--large);
  }
  .details__amount-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .details__plus, .details__minus {
    width: var(--large);
    height: var(--large);
    cursor: pointer;
  }

  .details__plus:active, .details__minus:active {
    transform: scale(0.95);
  }

  .details__amount {
    padding: var(--small);
    background-color: unset;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-color);
    text-align: center;
    font-size: var(--small);
    width: calc(var(--large) * 2);
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  @media (max-width: 1024px) {
    .details__product {
      grid-template-columns: 1fr;
    }
    .details__title {
      margin: unset;
    }
    .details__image {
      width: 100%;
    }
    .details__back-button {
      margin: unset;
    }
    .details__order {
      width: 300px
    }
  }