/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--small);
  width: 80%;
}

.filters__sort {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  padding: var(--small);
  width: 10rem;
}


@media (max-width: 768px) {
  .filters {
    width: 100%;
    padding: var(--small);
  }
}