.footer {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-bg-color  );
  width: 100%;
}

.footer__list {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: var(--small);
  width: 100%;
  list-style: none;
  font-size: 12px;
}
