/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondary-bg-color);
  width: 100%;
  padding: var(--small) var(--xlarge);
}

.footer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px var(--small) 200px;
  grid-template-columns: 200px 200px;
  gap: var(--small);
  width: 100%;
  list-style: none;
  font-size: 12px;
}

.footer__link {
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__link:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .footer__list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}