.footer {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-bg-color);
  width: 100%;
  padding: var(--small) var(--xlarge);
}

.footer__list {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: var(--small);
  width: 100%;
  list-style: none;
  font-size: 12px;
}

.footer__link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer__link:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .footer__list {
    grid-template-columns: 1fr 1fr;
  }
}
