/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  padding: var(--small) var(--large);
  background: var(--secondary-bg-color);
  border-bottom: 2px solid var(--primary-bg-color);
  position: fixed;
  z-index: 10;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__logo-link {
  color: var(--primary-color);
  font-size: var(--medium);
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
}

.header__profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  cursor: pointer;
}
.header__profile-icon:hover + .header__profile-title {
  color: var(--primary-color);
}

.header__profile * {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__profile-icon {
  height: var(--xlarge);
  width: var(--xlarge);
  fill: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: var(--large);
  padding: var(--xsmall);
}

.header__profile-icon:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.header__dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  right: 50%;
  top: 120%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  border-top: 2px solid var(--text-color);
}

.header__dropdown--show {
  display: block;
  opacity: 1;
}

.header__dropdown-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--small) 1fr;
  grid-template-columns: var(--small) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary-color);
  padding: var(--small);
  text-align: center;
  cursor: pointer;
}

.header__profile-dropdown,
.header__dropdown-item,
.header__dropdown-list {
  width: 190px;
}

.header__dropdown-item:hover {
  background-color: var(--secondary-color);
}

.header__dropdown-item * {
  pointer-events: none;
}

.header__dropdown-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
  background-color: var(--secondary-bg-color);
}

.header__dropdown-link,
.header__dropdown-counter {
  color: var(--secondary-text-color);
  text-decoration: none;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.header__dropdown-counter {
  justify-self: flex-end;
}

.header__profile-title {
  margin-top: var(--xsmall);
  font-size: 12px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--small);
  -webkit-text-decoration: underline 4px var(--secondary-bg-color);
          text-decoration: underline 4px var(--secondary-bg-color);
  color: var(--text-color);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__list-item:hover {
  color: var(--primary-color);
}

.header__nav-links {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__dropdown-icon {
  width: var(--small);
  height: var(--small);
}


@media (max-width: 995px) {
  .header__logo-link {
    font-size: 18px;
  }
  .header__list-item {
    padding: var(--xsmall);
    font-size: 12px;
  }
  .header__profile{
    width: 100px;
  }

  .header__profile-icon{
    height: var(--large);
    width: var(--large);
  }

  .header__profile-dropdown,
  .header__dropdown-item,
  .header__dropdown-list {
    width: 140px;
  }

  .header__dropdown-link, .header__dropdown-counter{
    font-size: 12px;
  }

  .header__dropdown-item {
    padding: var(--xsmall);
  }
}

@media (max-width: 550px) {
  .header__list-item {
    display: none;
  }

}
@media (max-width: 425px) {
  .header__logo-link {
    font-size: 24px;
  }
}