header {
  height: 100px;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  background: #141414;
  z-index: 100;
  border-bottom: 2px solid var(--primary-bg-color);
}

.header__logo {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 3px;
}

.header__profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  gap: 8px;
}

.header__profile * {
  transition: all 0.2s ease;
}
.header__profile-icon {
  cursor: pointer;
}
.header__profile-icon:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
} 

.header__dropdown {
  visibility: hidden;
  opacity: 0;
  bottom: -105px;
  position: absolute;
  right: 50%;
  top:130%;
  transform: translateX(50%);
  border-top: 2px solid var(--text-color);
}

.header__dropdown--show {
  visibility: visible;
  opacity: 1;
}

.header__dropdown-item {
  display: grid;
  grid-template-columns: 16px 1fr;
  align-items: center;
  background-color: var(--primary-color);
  padding: 12px;
  text-align: center;
  cursor: pointer;
 
}

.header__profile-dropdown,
.header__dropdown-item,.header__dropdown-list {
  width: 190px;
}

.header__dropdown-item:hover {
  background-color: #ffffff;
}

.header__dropdown-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: var(--seconday-bg-color);
}

.header__dropdown-link{
  color: var(--secondary-text-color);
  text-decoration: none;
}

.header__profile-icon {
  height: 48px;
  width: 48px;
  fill: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 36px;
  padding: 8px;
}

.header__profile-name {
  background-color: var(--seconday-bg-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  user-select: none;
}

.header__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__list-item {
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-decoration: underline 4px var(--secondary-bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.header__list-item:hover {
  color: var(--primary-color);
}

.header__nav-links {
  flex-grow: 1;
}

.header__dropdown-icon {
  width: 14px;
  height: 14px;
}
