body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

fieldset {
  padding: 48px;
  /*  border-radius: 24px; */
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #141414;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 20px; */
  width: 255px;
}

.login-form__label {
  margin-top: 16px;
}

.login-form__input {
  width: 100%;
  padding: 6px;
  border: 0;
  outline: 0;
  width: 100%;
}

.login-form__label,
legend {
  letter-spacing: 2px;
}

.login-form__button {
  align-self: center;
  margin-top: 32px;
  padding: 12px 24px;
  background-color: #d4af37;
  border: none;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
  width: 120px;
}

.login-form__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.login-form__button:hover {
  background-color: #ffffff;
}
