main {
  padding: calc(var(--medium) * 5) calc(var(--large) * 2);
}

.order-button--back {
  align-self: flex-start;
}
.orders {
  display: block;
}

.orders,
.orders__table {
  width: 100%;
  border-collapse: collapse;
}

.orders__row:nth-child(odd) {
  background-color: var(--secondary-bg-color);
}

.orders__row {
  height: 4rem;
}

.orders__cell {
  text-align: center;
}
.orders__cell--amount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  gap: var(--xsmall);
}

.orders__order {
  grid-column-start: span 2;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: calc(var(--xlarge) * 2);
  width: 100%;
  align-items: center;
}

.orders--hide,
.summary--hide,
.empty--hide {
  display: none;
}

.empty--show {
  display: block;
}

.orders__button {
  width: var(--small);
  background-color: transparent;
  cursor: pointer;
}

.orders__button:active {
  transform: scale(0.9);
}

.orders__decrease img,
.orders__increase img {
  pointer-events: none;
}

.orders__input {
  display: flex;
  justify-items: center;
  width: var(--small);
  background-color: transparent;
  color: var(--text-color);
}

.orders__cell--remove {
  cursor: pointer;
}

.orders__cell--remove:hover {
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}
