.orders,
.orders__table {
  width: 100%;
  border-collapse: collapse;
}

.orders__row:nth-child(odd) {
  background-color: var(--seconday-bg-color);
}

.orders__row {
  height: 4rem;
}

.orders__cell{
    text-align: center;
}

.orders__image {
  width: 30px;
}


