.products {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.products--show {
  display: flex;
}

.products__item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--seconday-bg-color);
  grid-template-rows: 140px;
  align-items: center;
  width: 80%;
}

.products__image {
  height: 140px;
}

.products__text-group {
  --rem: 16;
  --primary-color: #d4af37;
  --primary-bg-color: #030303;
  --seconday-bg-color: #141414;
  --text-color: #ffffff;
  --secondary-text-color: #030303;
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button--view {
  animation: none;
  height: 70px;
  margin: 1rem;
}

.button--view:hover {
  background-color: var(--text-color);
}

.details {
  display: none;
  padding: 4rem;
  gap: 1rem;
}

.details--show {
  display: grid;
}

.details__images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.details__image {
  width: 80%;
}

.details__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.details__product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details__specs {
  background-color: var(--seconday-bg-color);
}

.details__information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button--order {
  animation: none;
}
.button--order:hover {
  background-color: var(--text-color);
}
