main {
  padding: calc(var(--medium) * 5) 0;
}

.products {
  visibility: hidden;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--large);
}

.products--show {
  visibility: visible;
  min-height: 100vh;
}

.products__item {
  display: grid;
  opacity: 1;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--secondary-bg-color);
  grid-template-rows: calc(var(--small) * 10);
  align-items: center;
  width: 80%;
  animation: fadeIn 0.3s ease-in;
}

.products__image {
  width: calc(var(--medium) * 10);
  height: calc(var(--small) * 10);
}

.products__text-group {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--large);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@media (max-width: 995px) {
  .products__image {
    width: calc(var(--medium) * 9);
  }
  .products__text-group {
    font-size: 12px;
  }
}
