/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/


fieldset {
  padding: var(--xlarge);
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #ffffff13;
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
}

.register-form__label {
  margin-top: var(--small);
  font-size: 14px;
}

.register-form__label,
legend {
  letter-spacing: 2px;
}
.register-form__input {
  width: 100%;
  padding: var(--xsmall);
  border: 0;
  outline: 0;
  width: 100%;
  text-transform: none;
}

.register-form__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: var(--large);
  padding: var(--small) var(--medium);
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-text-color);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.register-form__button:hover {
  background-color: var(--secondary-color);
}

.register-form__text {
  margin-top: var(--small);
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: none;
  letter-spacing: 0;
}

.register-form__text a {
  color: var(--primary-color);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: none; 
  letter-spacing: 0;
}

.register-form__text a:hover{
  color: #ffffff;
}

.register-form__label--email {
  position: relative;
}
.register-form__validity{
  display: none;
  position: absolute;
  width: var(--medium);
  height: var(--medium);
  right: -35px;
  top: 20px;
}

.register-form__validity--show{
  display: block;
}