
fieldset {
  padding: 48px;
  /*  border-radius: 24px; */
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #ffffff13;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.register-form__label {
  margin-top: 16px;
  font-size: 14px;
}

.register-form__label,
legend {
  letter-spacing: 2px;
}
.register-form__input {
  width: 100%;
  padding: 6px;
  border: 0;
  outline: 0;
  width: 100%;
  text-transform: none;
}

.register-form__button {
  align-self: center;
  margin-top: 32px;
  padding: 12px 24px;
  background-color: #d4af37;
  border: none;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form__button:hover {
  background-color: #ffffff;
}

.register-form__text {
  margin-top: 16px;
  font-size: 14px;
  align-self: center;
  text-transform: none;
  letter-spacing: 0;
}

.register-form__text a {
  color: var(--primary-color);
  transition: color 0.3s ease;
  text-transform: none;
  letter-spacing: 0;
}

.register-form__text a:hover{
  color: #ffffff;
}

.register-form__label--email {
  position: relative;
}
.register-form__validity{
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  right: -35px;
  top: 20px;
}

.register-form__validity--show{
  display: block;
}