/* This file contains standardized sizes */
/* this file resetes and sets default values globally */

/* This file contains all the fonts, I've opted to use them locally since using google fonts will make the site breach GDPR */
/* Source:https://thehackernews.com/2022/01/german-court-rules-websites-embedding.html */
/* https://rewis.io/urteile/urteil/lhm-20-01-2022-3-o-1749320/ */
/* LG München, Urteil vom 20.01.2022, Az. 3 O 17493/20 (REWIS RS 2022, 1892)*/

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: Bolder;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: Bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

:root {
  --primary-color: #d4af37;
  --primary-bg-color: #030303;
  --seconday-bg-color: #141414;
  --text-color: #ffffff;
  --secondary-text-color: #030303;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #030303;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 3rem;
}

.welcome, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 3rem;
}

.welcome__sign {
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeIn 3s ease-in-out;
}

.welcome__text,
.preview__text {
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeInColor 4s ease-in-out;
  color: #d4af37;
  
}

.welcome__sign, .welcome__text{
  font-weight: 200w;
}

.button{
  padding: 1rem 2rem;
  background: var(--primary-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  animation: fadeIn 3s ease-in-out;
  cursor: pointer;
}

.welcome__explore:hover {
  background-color: var(--text-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInColor {
  from {
    opacity: 0;
    color: var(--text-color);
  }
  to {
    opacity: 1;
    color: var(--primary-color);
  }
}

.preview {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100vh;
  width: 100%;
  background-color: var(--seconday-bg-color);
}

.preview__options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.preview__image {
  width: 400px;
}

.preview__group {
  position: relative;
  cursor: pointer;
}

.preview__group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-bg-color);
  opacity: 0.6;
  z-index: 1;
}

.preview__group:hover .preview__title {
  color: var(--primary-color);
}

.preview__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease;
  z-index: 2;
  font-size: 1.4rem;
  filter: brightness(1.2);
}
