.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: var(--xlarge);
}

.welcome__sign {
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeIn 3s ease-in-out;
}

.welcome__text {
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeInColor 4s ease-in-out;
  color: var(--primary-color);
}

.welcome__sign,
.welcome__text {
  font-weight: 200;
}
